In [11]:
import numpy as np
import pandas as pd

In [12]:
dataframe = pd.read_csv('Custom_Report_PV.csv')
print(f'pandas version:  {pd.__version__}')

pandas version:  1.3.0

In [13]:
dataframe.head()

,วันที่โอน,FromBank,FromBank_BBL,FromBank_SCB,FromBank_BAY,FromBank_Kbank,FromBank_TTB,FromBank_KTB,FromAccNoBay,FromAccNoBay_1850030426,...,ToAccNoKTB_1950180611,ToAccNoKTB_1956010408,ToAccNoSCB,ToAccNoSCB_1173013946,ToAccNoSCB_1172673256,ToAccNoTMB,ToAccNoTMB_1012199970,ToAccNoTMB_1011102801,Amount,RefNo
0,6/14/2021|6/14/2021,BBL|BBL,1|1,0|0,0|0,0|0,0|0,0|0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1850000.00|300000.00,BT034-140664|BT035-140664
1,6/30/2021|6/30/2021,BBL|BAY,1|0,0|0,0|1,0|0,0|0,0|0,1.851289e+09,0.0,...,NaN,NaN,1.173014e+09,1.0,0.0,1.011103e+09,0.0,1.0,1234.00|123333.00,123|123333
2,6/30/2021|6/30/2021,BBL|SCB,1|0,0|1,0|0,0|0,0|0,0|0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.00|10000000.00,888888888|888888888888
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

วันที่โอน FromBank FromBankAcc  ToBank  ToBankAcc Amount RrfNo

In [14]:
dataframe.columns

Index(['วันที่โอน', 'FromBank', 'FromBank_BBL', 'FromBank_SCB', 'FromBank_BAY',
       'FromBank_Kbank', 'FromBank_TTB', 'FromBank_KTB', 'FromAccNoBay',
       'FromAccNoBay_1850030426', 'FromAccNoBay_1851288804', 'FromAccNoKbank',
       'FromAccNoKbank_7391013343', 'FromAccNoKbank_7601020836',
       'FromAccNoKbank_7601020763', 'FromAccNoKbank_7001001706',
       'FromAccNoKbank_7002239188', 'FromAccNoBBL', 'FromAccNoBBL_1873061780',
       'FromAccNoBBL_1874493222', 'FromAccNoBBL_9203000410',
       'FromAccNoBBL_9200013200', 'FromAccNoBBL_9203000303',
       'FromAccNoBBL_5820904489', 'FromAccNoBBL_5823004931',
       'FromAccNoBBL_2173020112', 'FromAccNoBBL_2174149696',
       'FromAccNoBBL_1455466696', 'FromAccNoBBL_1453070466', 'FromAccNoKTB',
       'FromAccNoKTB_1950180611', 'FromAccNoKTB_1956010408', 'FromAccNoSCB',
       'FromAccNoSCB_1173013946', 'FromAccNoSCB_1172673256', 'FromAccNoTTB',
       'FromAccNoTTB_1012199970', 'FromAccNoTTB_1011102801', 'ToBank',
       'ToBank_BBL', 'ToBank_SCB', 'ToBank_BAY', 'ToBank_Kbank', 'ToBank_TTB',
       'ToBank_KTB', 'ToAccNoBay', 'ToAccNoBay_1850030426',
       'ToAccNoBay_1851288804', 'ToAccNoBBL', 'ToAccNoBBL_1873061780',
       'ToAccNoBBL_1874493222', 'ToAccNoBBL_9203000410',
       'ToAccNoBBL_9200013200', 'ToAccNoBBL_9203000303',
       'ToAccNoBBL_5820904489', 'ToAccNoBBL_5823004931',
       'ToAccNoBBL_2173020112', 'ToAccNoBBL_2174149696',
       'ToAccNoBBL_1455466696', 'ToAccNoBBL_1453070466', 'ToAccNoKbank',
       'ToAccNoKbank_7391013343', 'ToAccNoKbank_7601020836',
       'ToAccNoKbank_7601020763', 'ToAccNoKbank_7001001706',
       'ToAccNoKbank_7002239188', 'ToAccNoKTB', 'ToAccNoKTB_1950180611',
       'ToAccNoKTB_1956010408', 'ToAccNoSCB', 'ToAccNoSCB_1173013946',
       'ToAccNoSCB_1172673256', 'ToAccNoTMB', 'ToAccNoTMB_1012199970',
       'ToAccNoTMB_1011102801', 'Amount', 'RefNo'],
      dtype='object')

In [15]:
df = pd.DataFrame(
index=[0, 1, 2,3,4],
columns=['วันที่โอน', 'FormBank', 'AccNo.','ToBank','Accno','Amount','Ref.'])



FB_C = pd.DataFrame(np.array(dataframe['FromBank']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['From Bank']
)

FB_C

  From Bank
0       BBL
1       BBL

In [16]:

df = pd.DataFrame(


index=[0, 1, 2,3,4],
columns=['วันที่โอน', 'FormBank', 'AccNo.','ToBank','Accno','Amount','Ref.'])








day_c = pd.DataFrame(np.array(dataframe['วันที่โอน']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['วันที่โอน'])

type(day_c.iloc[0][0])
date = day_c.iloc[0][0]
dateS = date.split("/")
dateR = dateS[1]+"/"+dateS[0]+"/"+dateS[2]
dateR

def formatdate(datesting):
    dateS = datesting.split("/")
    dateR = dateS[1]+"/"+dateS[0]+"/"+dateS[2]
    return dateR

day_c = pd.DataFrame(np.array(dataframe['วันที่โอน']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['วันที่โอน']   
)['วันที่โอน'].map(formatdate)




FB_C = pd.DataFrame(np.array(dataframe['FromBank']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['From Bank']
)



FB_BankAccNo = pd.DataFrame(np.array(dataframe['FromAccNoBBL']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['Account No.']
)

To_Bank = pd.DataFrame(np.array(dataframe['ToBank']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['To Bank']
)

To_BankNo = pd.DataFrame(np.array(dataframe['ToAccNoBBL']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['Account No.']
)


Amount_C = pd.DataFrame(np.array(dataframe['Amount']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['Amount']
)

RefNo_C = pd.DataFrame(np.array(dataframe['RefNo']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['RefNo']
)

merge = pd.concat([day_c,FB_C,FB_BankAccNo,To_Bank,To_BankNo,Amount_C,RefNo_C], axis=1)


merge

,วันที่โอน,From Bank,Account No.,To Bank,Account No.,Amount,RefNo
0,14/6/2021,BBL,1453070466,BBL,1873061780,1850000.00,BT034-140664
1,14/6/2021,BBL,9203000410,BBL,1873061780,300000.00,BT035-140664

In [17]:
merge.to_csv("Report_PV.csv",header=True,index=True)